@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Macondo&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Macondo', cursive;
  max-width: 100vw;
  overflow-x: hidden;
  color: #ffe4d6;
  background-color: #0f0f0f;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
}

a:hover {
  color: #efdf50;
}
